.aboutMe {
    background-color: var(--blue);
    justify-content: center;
    display: flex;
    align-items: none;
    box-sizing: border-box;
    flex-wrap: wrap;
}

h1 {
    padding: 2rem;
    font-size: 3rem;
}

h5 {
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
}

h5.ab {
    font-size: 1.5rem;
}

ul.description {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.4rem;
    margin-left: 2rem;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

.abt-container {
    display: grid;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    grid-template-columns: auto;
}

.abt {
    background-color: white;
    border: 3px solid black;
    margin-bottom: 1.5rem;
    padding: 1rem;
    padding-top: 0.5rem;
    border-radius: 15px;
    font-size: 1.75rem;
    width: 50rem;
}

@media screen and (max-width: 860px) {

    h5.ab {
        font-size: 1.3rem;
        margin-bottom: 7px;
    }
    
    ul.description {
        font-size: 0.9rem;
    }
    
    .abt {
        width: 85vw;
    }
}