.experience {
    background-color: var(--orange);
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: none;
    height: calc(100vh - 80px);
    overflow-y: hidden;
    box-sizing: border-box;
    flex-wrap: wrap;
}

h6 {
    font-size: 1.15rem;
    font-style: italic;
    font-weight: 600;
    margin-top: 3px;
}

ul.description {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.4rem;
    margin-left: 2rem;
}

.exp-container {
    display: grid;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    grid-template-columns: auto;
}

.exp {
    background-color: white;
    border: 3px solid black;
    margin-bottom: 1.5rem;
    padding: 1rem;
    padding-top: 0.5rem;
    border-radius: 15px;
    font-size: 1.75rem;
    width: 50rem;
}

@media screen and (max-width: 860px) {

    h5.job {
        font-size: 1.1rem;
    }

    h6 {
        font-size: 1rem;
        margin-top: 5px;
    }
    
    ul.description {
        font-size: 0.9rem;
    }
    
    .exp {
        width: 85vw;
    }
}