.experience {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
        url(../../../images/austin_city4.jpg) no-repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    height:100vh;
    transition: 0.5s;
    overflow-y: hidden;
    box-sizing: border-box;
    flex-wrap: wrap;
}

h1 {
    font-size: 2.2rem;
    color: white;
    margin-top: 1.5rem;
}

.job {
    text-align: left;
    display: inline-block;
    width: 60%;
    font-weight: 600;
    font-size: 1.3rem;
}

.dates {
    text-align: right;
    display: inline-block;
    width: 40%;
    font-weight: 500;
    font-size: 1.1rem;
}

.company {
    font-size: 1rem;
    font-weight: 500;
    margin-top: -1px;
    font-style: italic;
    color: rgb(179, 179, 179);
}

.description {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0.25rem;
    margin-left: 2rem;
}

li {
    padding-bottom: 2px;
}

.exp-container {
    display: grid;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    grid-template-columns: auto;
}

.exp {
    background-color: rgba(0, 0, 0, 0.6);
    border: 5px solid black;
    margin-bottom: 1rem;
    padding: 0.8rem;
    padding-top: 0rem;
    border-radius: 10px;
    width: 50rem;
}

@media screen and (max-width: 860px) {

    h1 {
        font-size: 1.7rem;
        margin-top: 1rem;
    }

    .exp-container {
        margin-top: 1rem;
    }

    .job {
        font-size: 0.95rem;
    }

    .dates {
        font-size: 0.95rem;
    }

    .company {
        font-size: 0.85rem;
    }
    
    .description {
        font-size: 0.75rem;
    }
    
    .exp {
        width: 85vw;
        padding-top: 0.5rem;
        border-width: 4px;
    }
}