.projects {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../../../images/austin_city.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    overflow-y: hidden;
    box-sizing: border-box;
    flex-wrap: wrap;
}

h1 {
    font-size: 2.2rem;
    color: white;
    margin-top: 1.5rem;
}

.project-name {
    text-align: left;
    display: inline-block;
    width: 80%;
    font-size: 1.2rem;
}

.link-container {
    width: 20%;
    text-align: right;
    display: inline-block;
}

.link {
    color: white;
    font-size: 1rem;
}

.fas {
    margin-left: 8px;
}

.description {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0.1rem;
    margin-left: 2rem;
}

li {
    padding-bottom: 2px;
}

.proj-container {
    display: grid;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    grid-template-columns: auto;
}

.proj {
    background-color: rgba(0, 0, 0, 0.6);
    border: 5px solid black;
    margin-bottom: 1rem;
    padding: 0.8rem;
    padding-top: 0rem;
    border-radius: 10px;
    width: 50rem;
}

@media screen and (max-width: 860px) {

    h1 {
        font-size: 1.7rem;
        margin-top: 1rem;
    }

    .proj-container {
        margin-top: 1rem;
    }

    .project-name {
        font-size: 1rem;
    }

    .link {
        font-size: 1rem;
    }
    
    .description {
        font-size: 0.8rem;
    }
    
    .proj {
        width: 85vw;
        padding-top: 0.25rem;
        border-width: 4px;
    }
}